html, body {
    height: 100%;
    width: 100%;
    text-align: center;
    align-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    width: 1000px;
    height: 1000px;
    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(var(--size), 1fr);
    margin: 0 auto;
    border: 0.5px solid black;
}

.grid-item {
    background-color: white;
    width: auto;
    height: auto;
    border: 0.2px solid lightgray;
    align-items: center;
}

.grid-item:hover {
    background-color: black;
}